      <!-- IF S_DISPLAY_SEARCH -->
<!-- IF $OVERALL_HEADER_BREADCRUMBS -->
<div style="float: right; width:220px;">
   <div style="position:relative; top:0px; left:9px;">
            <form action="{U_SEARCH}" method="get" id="search">
               <input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="inputbox search tiny" size="20" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}" >
               <input type="submit" name="sa" value="{L_SEARCH}">
            </form>
   </div>
</div>
<!-- ENDIF -->
      <!-- ENDIF -->
